<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Feedback</title>
</head>
<body>
    <h3>Edit Your Feedback</h3>
    <form action="/feedback/{{feedback.id}}/update" method="POST">
        <input type="text" placeholder="{{feedback.title}}" name="title">
        <textarea name="feedback" placeholder="{{feedback.content}}" cols="30" rows="5"></textarea>
        <button type="submit">Submit</button>
</body>
</html>